#left-eye,
#right-eye {
    -webkit-animation: blink 2.4s infinite linear;
    -webkit-transform-origin: 50% 50%;
    animation: blink 2.4s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes blink {
    90% {
        animation-timing-function: ease-in;
        transform: none;
    }
    93% {
        transform: scale(1, 0);
    }
    100% {
        animation-timing-function: ease-out;
    }
}
