#capsule {
    -webkit-animation: shake 0.45s infinite linear;
    -webkit-transform-origin: 50% 50%;
    animation: shake 0.45s infinite linear;
    transform-origin: 50% 50%;
}
#star-2,
#star-1 {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#star-1 {
    -webkit-animation: shine 0.65s infinite;
    animation: shine 0.65s infinite;
}
#star-2 {
    -webkit-animation: shine 0.55s infinite;
    animation: shine 0.55s infinite;
}
@keyframes shine {
    0% {
        -webkit-transform: scale(0.4, 0.4);
        transform: scale(0.4, 0.4);
    }
    60% {
        -webkit-transform: scale(0.25, 0.25)
        transform: scale(0.25, 0.25);
    }
    80% {
        -webkit-transform: scale(0.45, 0.45)
        transform: scale(0.45, 0.45);
    }
    100% {
        -webkit-transform: scale(1, 1) translateY(1600%);
        transform: scale(1, 1) translateY(1600%);
    }
}
@-webkit-keyframes shine {
    0% {
        -webkit-transform: scale(0.4, 0.4);
        transform: scale(0.4, 0.4);
    }
    60% {
        -webkit-transform: scale(0.25, 0.25)
        transform: scale(0.25, 0.25);
    }
    80% {
        -webkit-transform: scale(0.45, 0.45)
        transform: scale(0.45, 0.45);
    }
    100% {
        -webkit-transform: scale(1, 1) translateY(1600%);
        transform: scale(1, 1) translateY(1600%);
    }
}
@keyframes shake {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    20% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    40% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    20% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    40% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
