#star-2,
#star-6,
#star-4 {
  -o-animation: shine 0.75s infinite;
  -moz-animation: shine 0.75s infinite;
  -webkit-animation: shine 0.75s infinite;
  animation: shine 0.75s infinite;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

#star-1,
#star-3,
#star-5 {
  -o-animation: shine 0.55s infinite;
  -moz-animation: shine 0.55s infinite;
  -webkit-animation: shine 0.55s infinite;
  animation: shine 0.55s infinite;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-moz-keyframes shine {
  0% {
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0.3; }
  60% {
    -moz-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    opacity: 0.64; }
  80% {
    -moz-transform: scale(0.45, 0.45);
    -o-transform: scale(0.45, 0.45);
    -webkit-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
    opacity: 0.75; }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }
@-o-keyframes shine {
  0% {
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0.3; }
  60% {
    -moz-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    opacity: 0.64; }
  80% {
    -moz-transform: scale(0.45, 0.45);
    -o-transform: scale(0.45, 0.45);
    -webkit-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
    opacity: 0.75; }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }
@-webkit-keyframes shine {
  0% {
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0.3; }
  60% {
    -moz-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    opacity: 0.64; }
  80% {
    -moz-transform: scale(0.45, 0.45);
    -o-transform: scale(0.45, 0.45);
    -webkit-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
    opacity: 0.75; }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes shine {
  0% {
    -moz-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0.3; }
  60% {
    -moz-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    opacity: 0.64; }
  80% {
    -moz-transform: scale(0.45, 0.45);
    -o-transform: scale(0.45, 0.45);
    -webkit-transform: scale(0.45, 0.45);
    transform: scale(0.45, 0.45);
    opacity: 0.75; }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }
