
#star-2,
#star-7,
#star-6,
#star-4 {
    -webkit-animation: shine 0.75s infinite;
    -webkit-transform-origin: 50% 50%;
    animation: shine 0.75s infinite;
    transform-origin: 50% 50%;
}
#star-1,
#star-3,
#star-5 {
    -webkit-animation: shine 0.55s infinite;
    -webkit-transform-origin: 50% 50%;
    animation: shine 0.55s infinite;
    transform-origin: 50% 50%;
}


@keyframes shine {
    0% {
        -webkit-transform: scale(0.4, 0.4);
        opacity: 0.3;
        transform: scale(0.4, 0.4);
    }
    60% {
        -webkit-transform: scale(0.25, 0.25)
        transform: scale(0.25, 0.25);
        opacity: 0.64;
    }
    80% {
        -webkit-transform: scale(0.45, 0.45)
        transform: scale(0.45, 0.45);
        opacity: 0.75;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-webkit-keyframes shine {
    0% {
        -webkit-transform: scale(0.4, 0.4);
        opacity: 0.3;
        transform: scale(0.4, 0.4);
    }
    60% {
        -webkit-transform: scale(0.25, 0.25)
        transform: scale(0.25, 0.25);
        opacity: 0.64;
    }
    80% {
        -webkit-transform: scale(0.45, 0.45)
        transform: scale(0.45, 0.45);
        opacity: 0.75;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        transform: scale(1, 1);
    }
}
