.whell {
    -webkit-animation: bump 0.45s infinite ease-in-out forwards alternate;
    animation: bump 0.45s infinite ease-in-out forwards alternate;
}
.whell-1 {
    -webkit-animation-delay: 0.80s;
    animation-delay: 0.80s;
}
.whell-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.whell-3 {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

@keyframes bump {
    0% {
        -webkit-transform: translateY(6%)
        transform: translateY(6%);
    }
    50% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    80% {
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
