.start {
  opacity: 0;
}
.start-1 {
    -webkit-animation: shine 1.85s infinite ease-in-out forwards alternate;
    animation: shine 1.85s infinite ease-in-out forwards alternate;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

@keyframes shine {
    100% {
        opacity: 1
    }
}
