.start {
  opacity: 0;
}
.start-1 {
    -webkit-animation: shine 0.65s infinite ease-in-out forwards alternate;
    animation: shine 0.65s infinite ease-in-out forwards alternate;
}

.start-2 {
    -webkit-animation: shine 0.45s infinite ease-in-out forwards alternate;
    animation: shine 0.45s infinite ease-in-out forwards alternate;
}

.start-3 {
    -webkit-animation: shine 0.65s infinite ease-in-out forwards alternate;
    animation: shine 0.65s infinite ease-in-out forwards alternate;
}

@keyframes shine {
    100% {
        opacity: 1
    }
}
