.signal {
    opacity: 0;
    -webkit-animation: pulse 1s infinite linear forwards;;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    animation: pulse 1s infinite linear forwards;;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.signal-2 {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
.signal-3 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
