.undercarriage {
    -webkit-animation: landing 0.65s infinite ease-in-out forwards alternate;
    -webkit-transform: translate(-50%, -50%);
    animation: landing 0.65s infinite ease-in-out forwards alternate;
    transform: translate(-50%, -50%);
}

.undercarriage-1 {
    -webkit-transform-origin: 90% 30%;
    transform-origin: 90% 30%;
}
.undercarriage-2 {
    -webkit-transform-origin: 90% 30%;
    transform-origin: 90% 30%;
}

@keyframes landing {
    0% {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
